<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <add name="StringConnectionSQLServer" connectionString="data source=DESKTOP-LJSR2S7\SQLEXPRESS;initial catalog=Pacienteapp;integrated security=True;" providerName="System.Data.SqlClient"/>
  
</configuration>